data
old
compare/trial*/*/*
compare/old*
compare/Homo_sapiens.GRCh38.106.chr7.gtf
!compare/bin_pheno_qtl_counts.tsv
!compare/coverage_manifest.tsv
!compare/Snakefile
!compare/trial*/*/config.yaml
held_out/*/*
held_out/*/*/*
!held_out/no_*/config.yaml
!held_out/no_*/Snakefile
recount3/bigwig
recount3/brain-blood/*
!recount3/brain-blood/config.yaml
!recount3/brain-blood/coverage_manifest.tsv
!recount3/brain-blood/Snakefile
residual/*/*
residual/*/*/*
!residual/*/config.yaml
!residual/*/coverage_manifest.tsv
!residual/*/Snakefile
twas/input
twas/intermediate
twas/output
twas/scripts
twas_weights/Geuvadis/input
twas_weights/Geuvadis/intermediate
twas_weights/Geuvadis/output
twas_weights/Geuvadis/scripts
twas_weights/Geuvadis/steps
