data
old
compare/*
!compare/bin_pheno_qtl_counts.tsv
!compare/coverage_manifest.tsv
!compare/Snakefile
residual/covar
residual/full/covg_norm
residual/full/gene_bins
residual/full/info
residual/full/inspect
residual/full/models
residual/full/phenotypes
residual/qtl
residual/residual/covg_norm
residual/residual/gene_bins
residual/residual/info
residual/residual/inspect
residual/residual/models
residual/residual/phenotypes
twas/input
twas/intermediate
twas/output
twas/scripts
twas_weights/Geuvadis/input
twas_weights/Geuvadis/intermediate
twas_weights/Geuvadis/output
twas_weights/Geuvadis/scripts
twas_weights/Geuvadis/steps
