.snakemake
data
old
old_*
compare/trial*/*/*
compare/old*
compare/Homo_sapiens.GRCh38.113.chr.chrom.chr7.gtf
!compare/bin_pheno_qtl_counts.tsv
!compare/coverage_manifest.tsv
!compare/Snakefile
!compare/trial*/*/config.yaml
finemap/output
phenos/*-models.tsv
phenos/*/*
!phenos/*/config.yaml
!phenos/*/coverage_manifest.tsv
!phenos/*/Snakefile
!phenos/scripts/*
pheast/*/*
!pheast/*/config*.yml
!pheast/scripts/*
held_out/*/*
held_out/*/*/*
!held_out/no_*/config.yaml
!held_out/no_*/Snakefile
!held_out/scripts/*
prune_anno/latent-*/*
!prune_anno/latent-*/config.yaml
!prune_anno/latent-*/coverage_manifest.tsv
!prune_anno/latent-*/Snakefile
prune_anno/pantry-*/*
!prune_anno/pantry-*/config.yml
prune_anno/qtl/*
!prune_anno/qtl/config.yml
recount3/bigwig
recount3/brain-blood/*
!recount3/brain-blood/config.yaml
!recount3/brain-blood/coverage_manifest.tsv
!recount3/brain-blood/Snakefile
repo/repo/*
!repo/repo/check_repo.py
!repo/repo/README.md
residual/*/*
residual/*/*/*
!residual/*/config.yaml
!residual/*/coverage_manifest.tsv
!residual/*/Snakefile
seqsim/align/*/*
!seqsim/align/*/config.yml
!seqsim/align/*/Snakefile
seqsim/latent/*/*
!seqsim/latent/*/config.yaml
!seqsim/latent/*/coverage_manifest.tsv
!seqsim/latent/*/Snakefile
seqsim/qtl/*
!seqsim/qtl/config.yml
twas/*
!twas/scripts
!twas/Snakefile
twas_example/cis_nominal
twas_example/gwas
twas_example/model_info
twas_example/weights
twas_old
